@page
@model Assignment2.Pages.MassModel
@{
    ViewData["Title"] = "Mass";
}
    <div>
        <form method="post">
            <div>
                Conversion Method:
                <select id="massconvert" name="select">
                    <option value="pto">Pounds to Ounces</option>
                    <option value="otp">Ounces to Pounds</option>
                    <option value="gtp">Grams to Pounds</option>
                    <option value="mtp">Milligrams to Pounds</option>
                </select>
            </div>
            <div>
                Enter Mass to Convert:
                <input type="number" name="Number" min="0" style="width: 100px" step="any" required />
                <input type="submit" value="Convert" />
            </div>
        </form>
        <div>
            Conversion result: @Model.Conversion
        </div>
    </div>